/Leccion01/HibernateEjemplo1/target/
/Leccion02/HibernateEjemplo2/target/
/Leccion03/PersonasWebHibernateJPA/target/
/Leccion04/SgaWebHibernateJPA/target/
/Leccion05/SgaWebHibernateJPA/target/
/Leccion06/SgaWebHibernateJPA/target/